@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --clr-white: #ffffff;
    --clr-blue: #4285F4;
    --clr-teal: #00FFF0;
    --clr-dkteal: #008B8B;
    --clr-ltblue: #00D1FF;
    --clr-dkblue: #4682B4;
    --clr-navy: #000C66;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--ff-roboto);
    font-weight: 300;
    color: var(--clr-navy);
    background: var(--clr-white);
}

.nav-logo img {
    width: 140px;
    height: auto;
}

.side-menu {

}

.side-menu ul {
    list-style-type: none;
}

.headline {
    font-family: var(--ff-barlow);
    font-weight: 400;
    color: var(--clr-);
}

.side-menu {
    background: white;
    color: var(--clr-blue);
    font-weight: 400;
}

.page-link {
    color: var(--clr-dkteal);
}

.card img {
    width: auto !important;
    height: 200px !important;
    object-fit: cover;
}

@media (min-width: 992px) {
    .nav-logo img {
        width: 175px;
    }
}

@media (min-width: 1200px) {
    .nav-logo img {
        width: 225px;
    }
}
