@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --clr-white: #ffffff;
    --clr-blue: #4285F4;
    --clr-teal: #00FFF0;
    --clr-dkteal: #008B8B;
    --clr-ltblue: #00D1FF;
    --clr-dkblue: #4682B4;
    --clr-navy: #000C66;
    --clr-mdblue: #4285f4;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-exo: 'Exo', sans-serif;
}

body {
    font-family: var(--ff-roboto);
    font-weight: 400;
    color: var(--clr-navy);
    background: var(--clr-white);
}

/* ----- Text ----*/
.headline {
    font-family: var(--ff-barlow);
    font-weight: 400;
    color: var(--clr-);
}

.text-navy {
    color: var(--clr-navy);
}

/* ----- Images, Buttons, Links ----*/
.card img {
    width: auto !important;
    height: 200px !important;
    object-fit: cover;
}

.cart-img img {
    width: auto !important;
    height: 100px !important;
    object-fit: cover;
}

#detail-image img {
    width: auto !important;
    height: 225px !important;
    object-fit: cover;
}

.page-link {
    color: var(--clr-dkteal);
}

.update-link,
.remove-item {
    cursor: pointer;
}

/*------- Navigation ------*/
.nav-logo img {
    width: 140px;
    height: auto;
}

.side-menu {
    background: white;
    color: var(--clr-blue);
    font-weight: 400;
    margin-left: -1.5rem;
}

.side-menu ul {
    list-style-type: none;
}
/*------- Shopping Cart ------*/
/* Code modeled after jennikayne.com ----*/
.cart-items-head {
    font-family: var(--ff-barlow);
    letter-spacing: 0.1em;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--clr-navy);
}    

.cart-continues {
    font-family: var(--ff-barlow);
    letter-spacing: 0.1em;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold; 
    border-bottom: 1px solid var(--clr-navy);
    color: var(--clr-clr-navy);
}

.cart-item-remove {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: transparent;
    font-weight: bold;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*----------- Quanity Input - MD Bootstrap ----------*/
.number-input input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}

.number-input.cart button:before,
.number-input.cart button:after {
display: inline-block;
position: absolute;
content: '';
height: 1px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

.number-input.number-input {
border: 1px solid #ced4da;
width: 10rem;
border-radius: .25rem;
}

.number-input.number-input.cart {
border: none;
width: 4rem;
}

.number-input.number-input button {
width: 2.6rem;
height: .7rem;
}

.number-input.number-input.cart button {
width: 1.3rem;
height: .4rem;
}

.number-input.number-input button.minus {
padding-left: 10px;
}

.number-input.number-input.cart button.minus {
padding-left: 5px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
width: .7rem;
background-color: #495057;
}

.number-input.number-input.cart button:before,
.number-input.number-input.cart button:after {
width: .4rem;
background-color: #495057;
}

.number-input.number-input input[type=number] {
max-width: 4rem;
padding: .5rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 1rem;
height: 2rem;
color: #495057;
}

.number-input.number-input.cart input[type=number] {
max-width: 3rem;
padding: .3rem;
border: none;
font-size: 0.8rem;
height: 1rem;
color: var(--clr-navy);
}

.prod-detail-qty {
    margin-left: 3.7rem;
}

.prod-detail-qty label {
    color: var(--clr-mdblue);
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

.number-input.def-number-input.safari_only button:before,
.number-input.def-number-input.safari_only button:after {
margin-top: -.3rem;
}
}
}
/* ---------- Containers -------------*/
#product-selector {
    margin-left: 2.75rem;
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

.number-input.def-number-input.safari_only button:before,
.number-input.def-number-input.safari_only button:after {
margin-top: -.3rem;
}
}
}

@media (min-width: 768px) {
    #product-selector {
        margin-left: 1rem;
    } 
    .select-wrapper>label.mdb-main-label.active {
        line-height: 1.5 !important;
        font-size: 1rem ;
    }
}

@media (min-width: 992px) {
    .nav-logo img {
        width: 175px;
    }
    #product-selector {
        margin-left: 2rem;
    } 
}

@media (min-width: 1200px) {
    .nav-logo img {
        width: 225px;
    }
}
