@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --clr-white: #ffffff;
    --clr-blue: #4285F4;
    --clr-teal: #00FFF0;
    --clr-dkteal: #008B8B;
    --clr-ltblue: #00D1FF;
    --clr-dkblue: #4682B4;
    --clr-navy: #000C66;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--ff-roboto);
    font-weight: 400;
    color: var(--clr-navy);
    background: var(--clr-white);
}

.nav-logo img {
    width: 140px;
    height: auto;
}

.side-menu {

}

.side-menu ul {
    list-style-type: none;
}

.headline {
    font-family: var(--ff-barlow);
    font-weight: 400;
    color: var(--clr-);
}

.side-menu {
    background: white;
    color: var(--clr-blue);
    font-weight: 400;
}

.page-link {
    color: var(--clr-dkteal);
}

.card img {
    width: auto !important;
    height: 200px !important;
    object-fit: cover;
}

#detail-image img {
    width: auto !important;
    height: 225px !important;
    object-fit: cover;
}

/*----------- Quanity Input - MD Bootstrap ----------*/
.number-input input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

.number-input.number-input {
border: 1px solid #ced4da;
width: 10rem;
border-radius: .25rem;
}

.number-input.number-input button {
width: 2.6rem;
height: .7rem;
}

.number-input.number-input button.minus {
padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
width: .7rem;
background-color: #495057;
}

.number-input.number-input input[type=number] {
max-width: 4rem;
padding: .5rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 1rem;
height: 2rem;
color: #495057;
}

/* ---------- Containers -------------*/
#product-selector {
    margin-left: 5rem;
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

.number-input.def-number-input.safari_only button:before,
.number-input.def-number-input.safari_only button:after {
margin-top: -.3rem;
}
}
}

@media (min-width: 768px) {
    #product-selector {
        margin-left: 14rem;
    } 
}

@media (min-width: 992px) {
    .nav-logo img {
        width: 175px;
    }
    #product-selector {
        margin-left: 6rem;
    } 
}

@media (min-width: 1200px) {
    .nav-logo img {
        width: 225px;
    }
}
