@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --clr-white: #fafaf6;
    --clr-blue: #4285F4;
    --clr-teal: #00FFF0;
    --clr-ltblue: #00D1FF;
    --clr-dkblue: #3D6C39;
    --clr-navy: #2C365D;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--ff-roboto);
    font-weight: 300;
    color: var(--clr-navy);
    height: calc(100vh - 400px);
}

overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: yellow;
    z-index: -1;
}

#main-logo-link {
    width: 100%;
    height: auto;
}

.headline {
    font-family: var(--ff-barlow);
    font-weight: 400;
    color: var(clor-dkblue);
}