<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav2 side blue darken-3">
  <ul class="custom-scrollbar">
    <!-- Side navigation links -->
    <li>
      <ul class="collapsible collapsible-accordion">
        <li><a href="" class="collapsible-header waves-effect" >Shop All</a>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r">
            PPE<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="waves-effect">Gowns</a>
              </li>
              <li><a href="#" class="waves-effect">Masks</a>
              </li>
              <li><a href="#" class="waves-effect">Social Distancing Signage</a>
              </li>
              <li><a href="#" class="waves-effect">Thermometers</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r">Hand Sanitizer<i
              class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="waves-effect">Gel</a>
              </li>
              <li><a href="#" class="waves-effect">Dispensers</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r">Personal<i
              class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="waves-effect">Body Wash & Shampoo</a>
              </li>     
            </ul>
          </div>
        </li>
        <li><a href="" class="collapsible-header waves-effect" >Shipping & Returns</a>
        </li>
        <li><a href="" class="collapsible-header waves-effect" >Contact Us</a>
        </li>
      </ul>
    </li>
    <!--/. Side navigation links -->
  </ul>
</div>