.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #c3ccd3;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #1e383c;
    border: 1px solid #1e383c;
}

#payment-form input::placeholder {
    color: #c3ccd3;
    font-size: .8rem !important;
}

#id_ship_state,
#id_ship_state option:not(:first-child) {
    color: #1e383c;
}

#id_default_state option::first-child {
    color: #c3ccd3;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8ea6b2;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.form-check-input[type="checkbox"]:checked+label:before, label.btn input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #8ea6b2;
    border-bottom: 2px solid #8ea6b2;
}

.move-left {
    width: auto;
    box-shadow: none;
}

/* ------ Stepper Styling ----- */
.steps-form.steps-step button {
    border: 2px solid rgb(0, 114, 187);
    background:  rgb(0, 114, 187);
}

.steps-form.steps-step button i {
    color: #ffffff;
}

.checkout-subhead {
    font-family: var(--ff-barlow);
    letter-spacing: 0.1em;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--clr-palettemedblue);
}

.form-check-input[type="checkbox"]+label, label.btn input[type="checkbox"]+label {
    font-size: 0.9rem;
}