{% extends "base.html" %} {% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row mt-5 mb-5">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="d-none d-lg-block col-lg-4 col-xl-3 side-menu">
                {% include 'includes/side-menu.html' %}
            </div>
            <div class="col-12 col-lg-8 col-xl-9 text-center mt-4 head-row mb-5">
                <div class="row">
                    <div class="col-10 offset-1">
                        <h4 class="headline mb-2">{{ product.product_family }}</h4>
                        <h7 class="headline mb-5">{{ product.product_family.brand_name }}</h7>
                    </div> 
                <div class="row">
                    <div class="col-10 offset-1 col-md-5 col-lg-4 offset-lg-1">
                        <div id="detail-image" class="image-container my-5">
                            {% if product.image %}
                                <a href="{{ MEDIA_URL }}{{ product.image }}" target="_blank">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8 mt-2 offset-2 col-md-5 offset-md-0 col-lg-4">
                        <div class="product-details-container mt-md-5 text-left">
                            <p>{{ product.description | linebreaks }}</p>
                        </div>
                    </div>
                <div class="row form-group">
                    <div id="product-selector" class="col-10 offset-1">
                        <select class="mdb-select md-form colorful-select dropdown-primary">
                            <option value="{{ product.size }}-{{ item.pack }}-{{ item.price }}" select>{{ product.size }}, Pack of {{ product.pack }} - ${{ product.price }}</option>
                            {% for item in family_products %}
                                {% if item.size != product.size and item.pack != product.pack %}
                                    <option value="{{ item.size }}-{{ product.pack }}-{{ product.price }}">{{ item.size }}, Pack of {{ item.pack }} - ${{ item.price }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label class="mdb-main-label"><strong>Size, Pack & Price</strong></label>
                    <div class="col-10 offset-1">
                        <label for="quantity1"><strong>Quantity  </strong></label>
                        <div class="def-number-input number-input safari_only mb-5">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                            <input id="quantity1" class="quantity" min="0" name="quantity" value="1" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-large blue white-text">Add to Cart</button>
                    </div>
                    <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
                        <a href="#top-section" class="btn-floating btn-large cyan">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 mt-5 mb-5">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/product_detail_script.html' %}
{% endblock %}