{% extends "base.html" %} {% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row mt-5 mb-5">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
    <div class="container-fluid">
        <div class="row head-row mt-5 mb-5">
            <div class="col text-center mt-3 mb-1">
                <h2 class="headline">Products</h2>
            </div>
        </div>
    
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row">
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                    {% for product in products %}
                            <!-- Card Wider -->
                            <div class="card card-cascade wider mb-4 mr-1 ml-1">
                            {% if product.image %}
                                <!-- Card image -->
                                <div class="view view-cascade overlay">
                                    <img class="card-img-top" src="{{ MEDIA_URL }}product.image">
                                    <a href="#">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            {% else %}
                                <div class="view view-cascade overlay">
                                    <img
                                        class="card-img-top"
                                        src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }}"
                                    />
                                    <a href="#">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            {% endif %}
                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center pb-0">

                                <!-- Title -->
                                <h4 class="card-title"><strong>{{ product.name }}</strong></h4>
                                <!-- Subtitle -->
                                <h5 class="blue-text pb-2"><strong>Brand Name</strong></h5>
                                <!-- Text -->
                                <p class="card-text">Sizes Available:</p>
                                <p class="card-text">Price: $ {{ product.price }}</p>
                                <!-- Card footer -->
                                <div class="card-footer text-muted text-center mt-4">
                                    <a class="page-link" href="#">View Product</a>
                                </div>
                        
                        </div>
                    {% endfor %}
                    </div>}
                </div>
            </div>
        </div>             
    </div>
{% endblock %}